html{
	background-image: url("../images/Egerton_University.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0%;
	width: auto;
	height: auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #fff;
	
}
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  .display {
	max-width: inherit;
	display: block;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 6px;
	margin-top: 250px !important; 
	padding: 5px;
	height: 800px;
	width: 75% !important;
	margin: 0px;
	justify-content: space-between;
	text-align: center;
	
}
.input {
	color: #fff; 
	border-radius: 0px;
	width: 450px;
	height: 40px;
	padding-left: 10px;
	margin: 5px;
	border: 0px;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 5px;
	}
}
body{
	margin-top: 40px;
	margin-left: 0px;
	margin-right: 0px;
}
.change{
	margin: 0px !important;
}
.display {
	display: block;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 5px;
	padding: 5px;
	padding-top: 0px;
	height: auto;
	width: 480px;
	margin: auto;
	margin-top: 0px;
	text-align: center;
	
}
.formheader{
	padding: 0px;
	color: white;
	
}
a { 
	color: #00ffff; 
	}

#logbord{
		padding-right: 10px;
		border-right: 3px solid white;
		margin-right: 10px;
	}
.input {
	color: #fff; 
	border-radius: 0px;
	width: 321px;
	height: 38px;
	padding-left: 10px;
	margin: 5px;
	border: 0px;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 5px;
	}
.submit{
	width: 120px !important;
	background-color: rgba(11, 133, 13, 0.5) !important;
}
.submit:hover{
	background-color: rgba(11, 133, 13, 1) !important;
}
.login{
	margin-top: 20px;
}
.ext{
	width: 843px !important;
}
.exxt{
	width: 900px !important;
}
form{
	display: inline-table;
}
.htmlextend{
	height: 700px;
}
.logout{
	
}

.table{
	padding-top: 0px !important;
	padding: 10px;
	float: left;
}
.table tr{
	background-color: rgba(1, 1, 3, 0.5) !important;
}
.table th{
	color: #ffc;
}
h3{
	margin: 0px;
	padding: 0px;
	text-decoration: underline;
}

ul:not(.nav-bar){
	list-style: none;
	padding: 10px;
}
a{
	text-decoration: none;
}
ul li:not(.nav-bar){
	padding: 10px;
	background-color: rgba(1, 1, 3, 0.5) !important;
	border-radius: 5px;
	margin: 10px;
	margin-left: 30%;
	margin-right: 30%;
}
.flex{
	display: flex;
}
.nav-bar{
	width: 400px;
	margin: 0px;
	height: auto;
	text-align: center;
	padding: 0px;
}
.nav-bar ul{
	padding: 0px;
	margin: 0px;
}

.nav-bar ul li{
	padding: 0px;
	margin: 10px;
	height: 50px;
	width: auto;
}
.selected{
	color: #fff !important;
}
.flexer{
	width: auto;
}
.flexer ul li{
	width: auto;
}

.textarea{
	width: 90% !important;
}
.mybio ul li{
	text-align: center;
	word-wrap: break-word;
}
.bio{
	height: auto;
	width: auto;
	word-wrap: break-word;
}